Repository julianburr/vscode-bugsnag-stepthrough: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./extension lint --fix --quiet, yarn --cwd ./website lint --fix --quiet, prettier --write

fix: add homepage to extension package json
  extension/package.json
Due: prettier --write

Add homepage to extension package json (#11)
  extension/package.json
Due: prettier --write

fix: misc cleanups + readmes
  README.md
  components/README.md
  components/src/error/trend.tsx
  extension/README.md
  extension/package.json
  website/README.md
  website/pages/_app.tsx
  website/src/components/mock/extension/data/use-mock.ts
  website/src/components/sections/faqs.tsx
Due: yarn --cwd ./extension lint --fix --quiet, yarn --cwd ./website lint --fix --quiet, prettier --write

fix: fix
  extension/README.md
Due: prettier --write

fix: fix 2
  README.md
  extension/README.md
Due: prettier --write

Misc cleanups (#12)
  README.md
  components/README.md
  components/src/error/trend.tsx
  extension/README.md
  extension/package.json
  website/README.md
  website/pages/_app.tsx
  website/src/components/mock/extension/data/use-mock.ts
  website/src/components/sections/faqs.tsx
Due: yarn --cwd ./extension lint --fix --quiet, yarn --cwd ./website lint --fix --quiet, prettier --write

fix: misc readme adjustments
  README.md
  extension/README.md
Due: prettier --write

fix: fix
  extension/package.json
  website/src/assets/images/preview.png
Due: prettier --write

Misc readme adjustments (#13)
  README.md
  extension/README.md
  extension/package.json
  website/src/assets/images/preview.png
Due: prettier --write

ci: fix main workflow env
  .github/workflows/website.yml
Due: prettier --write

Fix main workflow env (#16)
  .github/workflows/website.yml
Due: prettier --write

Allow for code as array or object
  components/src/error/summary.tsx
Due: yarn --cwd ./extension lint --fix --quiet

Offset line numbers
  components/src/error/summary.tsx
  components/src/list/stacktrace.tsx
Due: yarn --cwd ./extension lint --fix --quiet

fix: fix eslint errors + adjust comment a bit
  components/src/error/summary.tsx
  components/src/list/stacktrace.tsx
Due: yarn --cwd ./extension lint --fix --quiet

Don't crash when code is not a string (#18)
  components/src/error/summary.tsx
  components/src/list/stacktrace.tsx
Due: yarn --cwd ./extension lint --fix --quiet

chore: bump version
  extension/package.json
Due: prettier --write

Bump version (#19)
  extension/package.json
Due: prettier --write

fix: typo through
  extension/README.md
Due: prettier --write

Path conditions:
  yarn --cwd ./extension lint --fix --quiet: (any of: components/**/*.{js,ts,tsx}) or (any of: extension/**/*.{js,ts,tsx})
  yarn --cwd ./website lint --fix --quiet: any of: website/**/*.{js,ts,tsx}
  prettier --write: any of: **/*.{md,json,yml}
